DATABASE_URL=postgresql://user:password@host/db?sslmode=require
JWT_SECRET=

# NEXT_PUBLIC_API_URL=
# RESEND_API_KEY=
# EMAIL_FROM=
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# EQUIPMENT_ADMIN_EMAILS=demo-admin@ecoar.test
